<div class='beer-box'>
  <div class='beer-img'>
    <img src='/images/beer.png' alt='' />
  </div>
  <div class='buttons'>
    <div class='button-1'>
      <a href='/beers'><span>Check the Beers!</span></a>
    </div>
    <div class='button-2'>
      <a href='/random-beer'><span>Check a Random Beer!</span></a>
    </div>
  </div>
</div>